@tailwind base;
@tailwind components;
@tailwind utilities;

/* Untuk mencegah scroll saat sidebar terbuka */
.no-scroll {
  overflow: hidden;
}

/* Menghilangkan spinner pada input number */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  appearance: none; /* Semua browser */
}

/* Menghilangkan spinner pada Safari dan Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
